@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@600&display=swap');
@import url(../roots/root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

/* font-size */
.fs-20 {
    font-size: var(--fs-20);

}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-10 {
    font-size: var(--fs-10);

}

.fs-12 {
    font-size: var(--fs-12);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-39 {
    font-size: var(--fs-39);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-64 {
    font-size: var(--fs-64);
}

/* font-weight */
.fw-300 {
    font-weight: var(--fw-300);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

/* color */
.white {
    color: var(--white);
}

.orange {
    color: var(--orange) !important;
}

.bs-black {
    color: var(--bs-black);
}

.gray {
    color: var(--gray);
}

.white1 {
    color: var(--white1);
}

/* font-famil */
.ffp {
    font-family: var(--ffp);
}

.ffw {
    font-family: var(--ffw) !important;
}

.bg-orange {
    background-color: #FFF7F4;
}

.curser {
    cursor: pointer;
}

.curser:hover {
    color: orange;
    transition: all .3s linear;
}

.let {
    border-radius: 5px;
    border: 1px solid var(--Black, #373737);
    padding: 10px 22px;
    transition: all 500ms linear;
}

.let:hover {
    transition: all 500ms linear;
    background-color: #373737;
}

.btn2:hover {

    background-color: #373737;
    color: var(--orange);
}

.mt-150 {
    padding-top: 150px;
}

.get {
    border-radius: 5px;
    background: var(--Orange, #FF5300);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    transition: all 500ms linear;
}

.get:hover {
    background-color: gray;
    color: orange;
    transition: all 400ms linear;
}

.btn3:hover {
    background-color: gray;
    color: orange;

}

.pt-58 {
    padding-top: 58px;
    padding-bottom: 18px;
}

.mt-120 {
    margin-top: 120px;
}

.card1 {
    border-radius: 10px;
    background: var(--Whit, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.py-20 {
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.bg-white1 {
    background-color: #FFF7F4;
}

.max-489 {
    max-width: 489px;
}

.max-509 {
    max-width: 509px;
}

.max-471 {
    max-width: 471px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-119 {
    padding-bottom: 119px;
}

.btn1 {
    padding: 10px 43px;
    border-radius: 10px;
    background: transparent;
    transition: all 500ms linear;
}


.hover-orange:hover {
    background-color: #FF5300;
    transition: all 600ms linear;
    color: #FFF;

}

.card2 {
    max-width: 70%;
    height: 80%;
    background: rgba(255, 83, 0, 0.75);

}

.hover1:hover .card2 {
    opacity: 1 !important;

}

.position-template {
    top: 10%;
    left: 20%;
}

.cursor {
    cursor: pointer;
}

.white-space {
    white-space: nowrap;
}

.pl-45 {
    padding-left: 45px;
}

.pr-35 {
    padding-right: 35px;
}

.card3 {


    border-radius: 10px;
    background: var(--Whit, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.max-320 {
    max-width: 280px;
}

.pl-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.slick-dots {
    position: unset !important;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.circle1 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;

}

.nextbtn {
    position: absolute;
    top: 60%;
    left: 3%;
}

.prevbtn {
    position: absolute;
    top: 60%;
    right: 3%;
}

.circle1:hover {
    border: 1px solid #FF5300;
    transition: all 200ms linear;

}

.svg:hover svg path {
    fill: #FF5300;
    transition: all 200ms linear;
}

.card4 {
    height: 102%;
    border-radius: 5px;
    background: var(--Whit, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.pt-18 {
    padding-top: 18px;

}

.pb-40 {
    padding-bottom: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.max-90 {
    max-width: 90%;
}

.card5 {
    border-radius: 10px;
    background: var(--Orange, #FF5300);
    border: none;

}

.card6 {
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);

}

.btn2 {
    border-radius: 5px;
    background: var(--Orange, #FF5300);
    padding: 13px 23px 12px 22px;
    border: none;
    cursor: pointer;
    transition: all 500ms linear;
}

.pl-15 {
    padding-left: 15px;
}

.pl-40 {
    padding-left: 40px;
}

.card7 {
    border-radius: 5px;
    background: var(--white);
}

.btn3 {
    border-radius: 5px;
    background: var(--Orange, #FF5300);
    padding: 15px 33px 15px 39px;
    border: none;
    cursor: pointer;
    transition: all 400ms linear;
}


.outline-0 {
    outline: 0;
}

.footer-img {
    background-image: url(../img/bg-img-footer.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle2 {
    width: 50px;
    height: 50px;
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.circle2:hover svg path {
    fill: #FF5300;
    transition: all 100ms linear;
}

.circle4 {
    width: 58px;
    height: 58px;
    background: #FF5300;
    border-radius: 50%;
    cursor: pointer;
}

.circle4 {
    position: absolute;
    bottom: 0;
    right: 0;
}



@media (max-width:1200px) {
    label[for="menu-icon"] {
        width: 30px;
        height: 22px;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 3;

    }

    label[for="menu-icon"]>span {
        border-radius: 2px;
        background-color: red;
        display: block;
        height: 5px;
        width: 100%;

    }

    ul.mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: fixed;
        background-image: url(../img/Image5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        gap: 10px;
        top: 0;
        left: -100%;
        transition: all 300ms linear;
        display: none;
        z-index: 2;

    }

    input[type="checkbox"]:checked+ul {
        background-color: blue;
        display: flex;
        left: 0;
        z-index: 1;

    }

    .pt-10-1 {
        padding-top: 10px;
    }

    .tc {
        text-align: center;
        margin: auto;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .pb-28 {
        padding-bottom: 28px;
    }

    .mb-28 {
        margin-bottom: 28px;
    }

    .my-auto1 {
        margin: auto;
    }

    .justi-center {
        justify-content: center;
    }

    .max-1200 {
        width: 1100px;
    }

    .overflow-x-scroll1 {
        overflow-x: scroll !important;
    }

    .card2 {
        width: 100%;
        height: 70%;
        background: rgba(255, 83, 0, 0.75);

    }

    .position-template {
        top: 15%;
        left: 15%;
    }

    .mt-9 {
        margin-top: 9%;
    }


}

@media (max-width:500px) {
    .fs-20-1 {
        font-size: var(--fs-20);
    }

    .fs-10-1 {
        font-size: var(--fs-10);
    }

    .flex {
        flex-direction: column;
    }

    .circle4 {
        position: absolute;
        bottom: 10px;
        right: 105px;
    }

    .mb-21 {
        margin-bottom: 21px;
    }
}

@media (max-width:992px) {
    .mt-21 {
        margin-top: 21% !important;
    }

    .nextbtn {
        display: none !important;
    }

    .prevbtn {
        display: none !important;
    }
}